<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="background-container">
    <mat-card class="background-color">

        <mat-card-content>

            <!-- <img nz-image width="150px" height="150px" nzSrc="" alt="" /> -->
            <a class="logo"><img src="../../../assets/Images/Logo.png" alt="">
            </a>
            <div class="text-center">
                <h2>Forgot Password</h2>
            </div>
            <form (ngSubmit)="onSubmit()" name="loginForm" [formGroup]="loginForm">
                <div class="emailInput">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Enter email address" required />
                        <mat-error *ngIf="!loginForm.controls['email'].valid">
                            Enter valid Email Id
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="reset-padding"> <input type="submit" class="btn btn-primary custom-width"
                        value="Reset Password Link" name="">
                </div>



                <div class="card-footer text-right">
                    <small>Ohh I remember <a routerLink="../login">Back to Login</a></small>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>