mat-card {
    max-width: 450px;
    margin: 2em auto;
    text-align: center;
    max-height: 450px;
  }
  
  .full-width {
    width: 80%;
  }
  
  .emailInput {
    padding-top: 20px;
  }
  
  .background-container {
    height: 100vh;
    padding: 60px 1rem;
    // background-image: url("../../../assets/Images/black-friday-elements-assortment.jpg");
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed;
    display: block;
  }
  
  .custom-width {
    width: 340px; /* Set your desired width here */
  }
  .reset-padding {
    padding-top: 15px;
  }
  .card-footer {
    padding-top: 20px;
  }
  