<app-employee-sub-header></app-employee-sub-header>
<div class="main ">
  <mdb-tabs class=" d-md-block">
    <mdb-tab>
      <ng-template mdbTabTitle><span><i class="fas fa-user-plus fa-fw me-2"></i>Identity</span></ng-template>
      <div class="tab1">
        <form [formGroup]="validationForm" (ngSubmit)="onSubmit(validationForm)">

        <fieldset class="border p-2">
          <legend class="float-none w-auto " >Add Identity</legend>
          <div class="row md-4">
            <div class="col-sm-3 mb-4">
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example1" class="form-control" formControlName="AadhaarNo"
                required/>
                <label mdbLabel class="form-label" for="form8Example1">Adhar number <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    AadhaarNo?.invalid && (AadhaarNo?.dirty || AadhaarNo?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    AadhaarNo?.valid && (AadhaarNo?.dirty || AadhaarNo?.touched)
                        "></mdb-success>
              </mdb-form-control>
            </div>
            <div class="col-sm-3 mb-4">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example2" class="form-control" formControlName="NameAsAadhaar"
                required/>
                <label mdbLabel class="form-label" for="form8Example2">Name as Per Adhar <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    NameAsAadhaar?.invalid && (NameAsAadhaar?.dirty || NameAsAadhaar?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    NameAsAadhaar?.valid && (NameAsAadhaar?.dirty || NameAsAadhaar?.touched)
                        "></mdb-success>
              </mdb-form-control>
            </div>

            <div class="col-sm-3 mb-4">
              <!-- Name dropdown list -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="date" id="form8Example2" class="form-control" formControlName="DobAsAadhaar"
                required/>
                <label mdbLabel class="form-label" for="form8Example2">D.O.B as Per Adhar <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    DobAsAadhaar?.invalid && (DobAsAadhaar?.dirty || DobAsAadhaar?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    DobAsAadhaar?.valid && (DobAsAadhaar?.dirty || DobAsAadhaar?.touched)
                        "></mdb-success>
              </mdb-form-control>
            </div>
            <div class="col-sm-3 mb-4">

              <mdb-form-control>

                <!-- <label mdbValidate mdbLabel for="imageInput">(Adhar Attach) <span class="text-danger">*</span></label>
                <input mdbInput type="file" id="imageInput" (change)="onFileSelected($event)" formControlName="AadhaarAttach"
                required/>
                <br />
                <img *ngIf="selectedFile" [src]="getObjectURL(selectedFile)" alt="Selected Image" width="200" />
                <mdb-error *ngIf="
                AadhaarAttach?.invalid && (AadhaarAttach?.dirty || AadhaarAttach?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                AadhaarAttach?.valid && (AadhaarAttach?.dirty || AadhaarAttach?.touched)
                    "></mdb-success> -->

                    <input mdbValidate mdbInput type="text" id="form8Example1" class="form-control" formControlName="AadhaarAttach"
                required/>
                <label mdbLabel class="form-label" for="form8Example1">Adhar Attach <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    AadhaarAttach?.invalid && (AadhaarAttach?.dirty || AadhaarAttach?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    AadhaarAttach?.valid && (AadhaarAttach?.dirty || AadhaarAttach?.touched)
                        "></mdb-success>
              </mdb-form-control>
              
            </div>

          </div>
          <div class="row">
            <div class="col-sm-3 mb-4">
              <!-- Country dropdown list -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example3" class="form-control" formControlName="PanNo"
                required/>
                <label mdbLabel class="form-label" for="form8Example3">Pan Number <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    PanNo?.invalid && (PanNo?.dirty || PanNo?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    PanNo?.valid && (PanNo?.dirty || PanNo?.touched)
                        "></mdb-success>
              </mdb-form-control>

            </div>

            <div class="col-sm-3 mb-4">
              <!-- Country dropdown list -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example4" class="form-control" formControlName="NameAsPan"
                required/>
                <label mdbLabel class="form-label" for="form8Example4">Name as Per Pan <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    NameAsPan?.invalid && (NameAsPan?.dirty || NameAsPan?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    NameAsPan?.valid && (NameAsPan?.dirty || NameAsPan?.touched)
                        "></mdb-success>
              </mdb-form-control>

            </div>

            <div class="col-sm-3 mb-4">
              <!-- Country dropdown list -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="date" id="form8Example5" class="form-control" formControlName="DobAsPan"
                required/>
                <label mdbLabel class="form-label" for="form8Example5">D.O.B as Per Pan <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    DobAsPan?.invalid && (DobAsPan?.dirty || DobAsPan?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    DobAsPan?.valid && (DobAsPan?.dirty || DobAsPan?.touched)
                        "></mdb-success>
              </mdb-form-control>

            </div>
            <div class="col-sm-3 mb-4">

              <mdb-form-control>

                <!-- <label mdbLabel for="imageInput">(Attach Pan) <span class="text-danger">*</span></label>
                <input mdbValidate mdbInput type="file" id="imageInput" (change)="onFileSelected($event)"formControlName="PanAttach"
                required />
                <br />
                <img *ngIf="selectedFile" [src]="getObjectURL(selectedFile)" alt="Selected Image" width="200" />
                <mdb-error *ngIf="
                PanAttach?.invalid && (PanAttach?.dirty || PanAttach?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                PanAttach?.valid && (PanAttach?.dirty || PanAttach?.touched)
                    "></mdb-success> -->
                    <input mdbValidate mdbInput type="text" id="form8Example1" class="form-control" formControlName="PanAttach"
                required/>
                <label mdbLabel class="form-label" for="form8Example1">Pan Attach <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    PanAttach?.invalid && (PanAttach?.dirty || PanAttach?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    PanAttach?.valid && (PanAttach?.dirty || PanAttach?.touched)
                        "></mdb-success>
              </mdb-form-control>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 mb-4">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example3" class="form-control" formControlName="PassportNo"
                required/>
                <label mdbLabel class="form-label" for="form8Example3">Passport Number</label>
                <mdb-error *ngIf="
                PassportNo?.invalid && (PassportNo?.dirty || PassportNo?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                PassportNo?.valid && (PassportNo?.dirty || PassportNo?.touched)
                    "></mdb-success>
              </mdb-form-control>

            </div>
            <div class="col-sm-3 mb-4">
              <!-- Marital status input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example4" class="form-control" formControlName="PassportType"
                required/>
                <label mdbLabel class="form-label" for="form8Example4">Passport Issue Number</label>
                <mdb-error *ngIf="
                PassportType?.invalid && (PassportType?.dirty || PassportType?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                PassportType?.valid && (PassportType?.dirty || PassportType?.touched)
                    "></mdb-success>
              </mdb-form-control>
            </div>
            <div class="col-sm-3 mb-4">
              <!-- Date of Marriage input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="date" id="form8Example5" class="form-control" formControlName="PassportVaildTill"
                required/>
                <label mdbLabel class="form-label" for="form8Example5">Passport Valid Date</label>
                <mdb-error *ngIf="
                PassportVaildTill?.invalid && (PassportVaildTill?.dirty || PassportVaildTill?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                PassportVaildTill?.valid && (PassportVaildTill?.dirty || PassportVaildTill?.touched)
                    "></mdb-success>
              </mdb-form-control>
            </div>
            
              <!-- Date of Marriage input -->
              <div class="col-sm-3 mb-4">

                <mdb-form-control>
                  <!-- <label mdbLabel for="imageInput">(Attach Passport)</label>
                  <input mdbValidate mdbInput type="file" id="imageInput" (change)="onFileSelected($event)" formControlName="PassportAttach"
                  required/>
                  <br />
                  <img *ngIf="selectedFile" [src]="getObjectURL(selectedFile)" alt="Selected Image" width="200" />
                  <mdb-error *ngIf="
                  PassportAttach?.invalid && (PassportAttach?.dirty || PassportAttach?.touched)
                      "></mdb-error>
                  <mdb-success *ngIf="
                  PassportAttach?.valid && (PassportAttach?.dirty || PassportAttach?.touched)
                      "></mdb-success> -->
                      <input mdbValidate mdbInput type="text" id="form8Example1" class="form-control" formControlName="PassportAttach"
                required/>
                <label mdbLabel class="form-label" for="form8Example1">Passport Attach <span
                    class="text-danger">*</span></label>
                    <mdb-error *ngIf="
                    PassportAttach?.invalid && (PassportAttach?.dirty || PassportAttach?.touched)
                        "></mdb-error>
                    <mdb-success *ngIf="
                    PassportAttach?.valid && (PassportAttach?.dirty || PassportAttach?.touched)
                        "></mdb-success>
                </mdb-form-control>
              </div>
           

          </div>
          <div class="row">
            <div class="col-sm-3 mb-4">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="text" id="form8Example3" class="form-control" formControlName="DlNo"
                required/>
                <label mdbLabel class="form-label" for="form8Example3">DL No</label>
                <mdb-error *ngIf="
                DlNo?.invalid && (DlNo?.dirty || DlNo?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                DlNo?.valid && (DlNo?.dirty || DlNo?.touched)
                    "></mdb-success>
              </mdb-form-control>

            </div>
            <div class="col-sm-3 mb-4">
              <!-- Marital status input -->
              <mdb-form-control>
                <input  mdbValidate mdbInput type="date" id="form8Example4" class="form-control" formControlName="DlVaildTill"
                required/>
                <label mdbLabel class="form-label" for="form8Example4">DL Valid Till</label>
                <mdb-error *ngIf="
                DlVaildTill?.invalid && (DlVaildTill?.dirty || DlVaildTill?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                DlVaildTill?.valid && (DlVaildTill?.dirty || DlVaildTill?.touched)
                    "></mdb-success>
              </mdb-form-control>
            </div>
            <div class="col-sm-3 mb-4">
              <!-- Date of Marriage input -->
              <mdb-form-control>
                <input mdbValidate mdbInput type="date" id="form8Example5" class="form-control" formControlName="DobAsDL"
                required/>
                <label mdbLabel class="form-label" for="form8Example5">D.O.B</label>
                <mdb-error *ngIf="
                DobAsDL?.invalid && (DobAsDL?.dirty || DobAsDL?.touched)
                    "></mdb-error>
                <mdb-success *ngIf="
                DobAsDL?.valid && (DobAsDL?.dirty || DobAsDL?.touched)
                    "></mdb-success>
              </mdb-form-control>
            </div>
            <!-- Date of Marriage input -->
            <div class="col-sm-3 mb-4">

              <mdb-form-control>
                  <!-- <label mdbLabel for="imageInput">(Attach DL)</label>
                  <input mdbValidate mdbInput type="file" id="imageInput" (change)="onFileSelected($event)" formControlName="DlAttach"
                  required/>
                  <br />
                  <img *ngIf="selectedFile" [src]="getObjectURL(selectedFile)" alt="Selected Image" width="200" />
                  <mdb-error *ngIf="
                  DlAttach?.invalid && (DlAttach?.dirty || DlAttach?.touched)
                      "></mdb-error>
                  <mdb-success *ngIf="
                  DlAttach?.valid && (DlAttach?.dirty || DlAttach?.touched)
                      "></mdb-success> -->

                      <input mdbValidate mdbInput type="text" id="form8Example1" class="form-control" formControlName="DlAttach"
                      required/>
                      <label mdbLabel class="form-label" for="form8Example1">Passport Attach <span
                          class="text-danger">*</span></label>
                          <mdb-error *ngIf="
                          DlAttach?.invalid && (DlAttach?.dirty || DlAttach?.touched)
                              "></mdb-error>
                          <mdb-success *ngIf="
                          DlAttach?.valid && (DlAttach?.dirty || DlAttach?.touched)
                              "></mdb-success>
              </mdb-form-control>
            </div>
          </div>


          <hr>

          <div class="button col-sm-2">
            <button mdbRipple type="submit" class="btn btn-primary btn-sm"><i
                class="fas fa-save fa-fw me-2"></i>Submit</button>
          </div>

        </fieldset>
      </form>

      </div>
    </mdb-tab>

    <mdb-tab>
      <ng-template mdbTabTitle><span><i class="fas fa-users-line fa-fw me-2"></i>Identity List</span></ng-template>
      <div class="tab2">
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Status</th>
              <th>Position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                    class="rounded-circle" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">John Doe</p>
                    <p class="text-muted mb-0">john.doegmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Software engineer</p>
                <p class="text-muted mb-0">IT department</p>
              </td>
              <td>
                <span class="badge badge-success rounded-pill d-inline">Active</span>
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                    style="width: 45px; height: 45px" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Alex Ray</p>
                    <p class="text-muted mb-0">alex.raygmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Consultant</p>
                <p class="text-muted mb-0">Finance</p>
              </td>
              <td>
                <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
              </td>
              <td>Junior</td>
              <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                    style="width: 45px; height: 45px" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Kate Hunington</p>
                    <p class="text-muted mb-0">kate.huningtongmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Designer</p>
                <p class="text-muted mb-0">UI/UX</p>
              </td>
              <td>
                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </mdb-tab>

  </mdb-tabs>
</div>