.main{
    height: 100vh;
    border-radius:20px;
    padding: 5px 20px;
   
}

.button{
   margin-left: 39%;
    width: 20%;
}

.tab2{
    border-radius: 20px;
}

.tab1{
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 20px;
}


.tab3{
    background-color: rgba(255, 255, 255, 0.692);
    border-radius:20px;
}

img{
    height: 80px;
    width: 70px;
    top: 2px;
    border:1px solid;
}