<app-master-sub-header></app-master-sub-header>
<div class="main ">
    <mdb-tabs class=" d-md-block">
        <mdb-tab>
            <ng-template mdbTabTitle><span><i class="fas fa-user-plus fa-fw me-2"></i>Client</span></ng-template>
            <div class="tab1">
                <fieldset class="border p-2">
                    <legend class="float-none w-auto ">Add Details</legend> 
                    <div class="row md-4">
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Full Name <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <!-- Country dropdown list -->

                            <mdb-form-control>
                                <select mdbInput id="form8Example4"  class="form-control"
                                    aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">ID-101</option>
                                    <option value="option2">ID-102</option>
                                    <option value="option3">ID-103</option>
                                    <option value="option3">ID-104</option>
                                    <option value="option3">ID-105</option>
                                    <option value="option3">ID-106</option>
                                    <option value="option3">ID-107</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label mdbLabel class="form-label" for="form8Example4">RoleId<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>
                            
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Mobile <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Email <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Address   <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <!-- Country dropdown list -->

                            <mdb-form-control>
                                <select mdbInput id="form8Example4"  class="form-control"
                                    aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">ID-101</option>
                                    <option value="option2">ID-102</option>
                                    <option value="option3">ID-103</option>
                                    <option value="option3">ID-104</option>
                                    <option value="option3">ID-105</option>
                                    <option value="option3">ID-106</option>
                                    <option value="option3">ID-107</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label mdbLabel class="form-label" for="form8Example4">StateID<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>
                            
                        </div>
                        <div class="col-sm-3 mb-4">
                            <!-- Country dropdown list -->

                            <mdb-form-control>
                                <select mdbInput id="form8Example4"  class="form-control"
                                    aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">ID-101</option>
                                    <option value="option2">ID-102</option>
                                    <option value="option3">ID-103</option>
                                    <option value="option3">ID-104</option>
                                    <option value="option3">ID-105</option>
                                    <option value="option3">ID-106</option>
                                    <option value="option3">ID-107</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label mdbLabel class="form-label" for="form8Example4">CityId<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>
                            
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Zip/Postel Code <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">GSTNo <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <!-- Country dropdown list -->

                            <mdb-form-control>
                                <select mdbInput id="form8Example4"  class="form-control"
                                    aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">ID-101</option>
                                    <option value="option2">ID-102</option>
                                    <option value="option3">ID-103</option>
                                    <option value="option3">ID-104</option>
                                    <option value="option3">ID-105</option>
                                    <option value="option3">ID-106</option>
                                    <option value="option3">ID-107</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label mdbLabel class="form-label" for="form8Example4">GstStateId<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>
                            
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <label class="form-label" for="customFile">ProfilePhoto<span
                                    class="text-danger">*</span></label>
                                <input type="file" class="form-control" id="customFile" />
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4"> 
                            <!-- Email input -->
                            <mdb-form-control>
                                <input mdbInput type="date"  id="form8Example2" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example2">ExpiryDate <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">PaymentType <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">DomainName <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">OrganizationName <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                         <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">RegistrationNo <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Logo <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-sm-3 mb-4">
                            <mdb-form-control>
                                <input mdbInput type="text"  id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Remarks<span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>

                    </div>

                    <div class="save-button">

                        <button mdbRipple type="button" class="btn btn-info btn-sm"
                        ><i class="fas fa-save fa-fw me-2"></i>Save</button>
                       
                    </div>

                </fieldset>
            </div>
        </mdb-tab>
</mdb-tabs>
</div>