<app-attendance-sub-header></app-attendance-sub-header>
<div class="modal-body">
    <div class="menu">
      <div class="timesheet row-2">
        <h4>Timesheet 11 Mar 2024</h4>
        <div class="punch">
          <p>
            <b>punch in at</b> <br />
            Wed,11th Mar 2024 10.00 Am
          </p>
        </div>
        <div class="time">
          <p>3.45 hrs</p>
        </div>
  
        <div class="punch-out">
          <button type="button" class="btn">Punch Out</button>
        </div>
  
        <div class="break-ov">
          <div class="break">
            <p>
              <b>Break</b> <br />
              1.21 hrs
            </p>
          </div>
          <div class="overtime">
            <p>
              <b>Overtime </b><br />
              3 hrs
            </p>
          </div>
        </div>
      </div>
  
      <div class="statistics row-3">
        <h4>Statistics</h4>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%"
            ></div>
          </div>
        </div>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 10%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        </div>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        </div>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-info"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        </div>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-warning"
            role="progressbar"
            style="width: 75%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        </div>
  
        <div class="stat-info">
          <p>
            Today <strong>3.45 <small> /8hrs</small></strong>
          </p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-danger"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        </div>
        
      </div>
  
      <div class="activity row-4">
        <h4>Activity</h4>
        <ul>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
          <li>
            <p>Punch in at ----- 10.00 AM</p>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- form -->
    <form class="form1">
      <!-- Date -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="" id="form1Example1" class="form-control" />
        <label mdbLabel class="form-label" for="form1Example2">Date</label>
      </mdb-form-control>
  
      <!--Select Month -->
      <mdb-form-control class="mb-4">
        <select class="form-select" aria-label="Default select example">
          <option selected mdbLabel class="form-label" for="form1Example2">
            Select Month
          </option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">Aprial</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">Octuber</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </mdb-form-control>
  
      <!-- Select Year -->
      <mdb-form-control class="mb-4">
        <select class="form-select" aria-label="Default select example">
          <option selected mdbLabel class="form-label" for="form1Example2">
            Select Year
          </option>
          <option value="1">2022</option>
          <option value="2">2023</option>
          <option value="3">2024</option>
          <option value="4">2025</option>
          <option value="5">2026</option>
        </select>
      </mdb-form-control>
  
      <!-- Search button -->
      <button mdbRipple type="button" class="btn mb-4 btn-primary btn-block">
        SEARCH
      </button>
    </form>
  
    <!-- table -->
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Punch In</th>
            <th>punch Out</th>
            <th>Production</th>
            <th>Break</th>
            <th>Overtime</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let m of AttendanceEmployee">
            <td>{{ m.id }}</td>
            <td>{{ m.date }}</td>
            <td>{{ m.punch_in }}</td>
            <td>{{ m.punch_out }}</td>
            <td>{{ m.production }}</td>
            <td>{{ m.break }}</td>
            <td>{{ m.overtime }}</td>
          </tr>
        </tbody>
      </table>
   </div>
  </div>