<app-asset-sub-header></app-asset-sub-header>
<div *ngIf="showTabs" class="modal-overlay">
    <div class="modal-dialog" (click)="preventClose($event)">
        <form class="modal-content">
            <form [formGroup]="departmrntForm">
                <button mat-icon-button (click)="toggleTabs()" class="close-icon">
                    <i class="far fa-times-circle"></i>
                </button>

                <h1 class="header">Add Brands</h1>

                <div class="col-lg-5 sm-4 brandname">
                    <mdb-form-control>
                        <input mdbInput type="text" id="form8Example1" class="form-control" />
                        <label mdbLabel class="form-label" for="form8Example1">Brand Name <span
                                class="text-danger">*</span></label>
                    </mdb-form-control>
                </div>
            </form>
            <div mat-dialog-actions [align]="'end'" class="submit-dialog">
                <button mdbRipple type="button" class="btn btn-info btn-sm" mat-dialog-close
                    (click)="addDepartment()"><i class="fas fa-save fa-fw me-2"></i>Save</button>

            </div>
        </form>
    </div>
</div>



<div style="overflow: scroll; ">
    <div class="card" style="border: 1px solid lightgray; margin: 15px 14px;border-radius: 10px; overflow: scroll; height:450px;">
        <table class="table align-middle mb-0 bg-white" style="position: relative;">
            <thead class="bg-light" style="position: sticky; top:0px">
                <tr>
                    <th>Id <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </th>
                    <th>Brand Name</th>
                </tr>
            </thead>
            <div class="round-button" style="position: fixed; top:100px;right:10px; width:50px">
                <button mat-fab extended (click)="toggleTabs()" matTooltip="Add Brand"
                  aria-label="Button that displays a tooltip in various positions" color="warn">
                  <i class="fas fa-plus fa-2x" style="color: rgba(10, 253, 253, 0.773);"></i></button>
            </div>


            <tbody>
                <tr *ngFor="let m of AttendanceEmployee">
                    <td>{{ m.id }}</td>
                    <td>{{ m.punch_in }}</td>

                </tr>
            </tbody>
        </table>
</div>
</div>