<div class="dashboard">
    <div class="dashboard-head" style="margin-left: 15px;margin-top:10px">
        <h1>DASHBOARD
            <small>Nighwan Technology</small>
        </h1>
        <div class="breadcrumb">
            <!-- <a routerLink="/dashboard"><i class="fa-solid fa-house"></i></a> -->
        </div>
    </div>

    <div class="dashboard-main" style="margin-right: -30px;">
        <div class="dashboard-info-box" style="display:flex; flex-wrap:wrap; border:0px solid; gap: 2%;  padding-left: 2%;">
            <div class="dashboard-info-wrapper" >
                <div class="dashboard-info-icon">
                    <i class="fa-regular fa-paper-plane light-yellow"></i>
                </div>
                <div class="dashboard-info-detail">
                    <p>Earnings</p>
                    <p><i class="fa-solid fa-dollar-sign"></i> 6659 <small>This
                            Month</small></p>
                </div>
            </div>

            <div class="dashboard-info-wrapper">
                <div class="dashboard-info-icon">
                    <i class="fa-solid fa-cube light-blue"></i>
                </div>
                <div class="dashboard-info-detail">
                    <p>Messages</p>
                    <p><i class="fa-solid fa-dollar-sign"></i> 6659 <small>This
                            Month</small></p>
                </div>
            </div>

            <div class="dashboard-info-wrapper">
                <div class="dashboard-info-icon">
                    <i class="fa-solid fa-message light-pink"></i>
                </div>
                <div class="dashboard-info-detail">
                    <p>Users</p>
                    <p><i class="fa-solid fa-dollar-sign"></i> 6659 <small>This
                            Month</small></p>
                </div>
            </div>

            <div class="dashboard-info-wrapper">
                <div class="dashboard-info-icon">
                    <i class="fa-solid fa-users-line light-grey"></i>
                </div>
                <div class="dashboard-info-detail">
                    <p>New vendors</p>
                    <p><i class="fa-solid fa-dollar-sign"></i> 6659 <small>This
                            Month</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="maincardX" style="margin-right: -30px;">
    <div class="card-containX"
    style="display:flex; padding-left: 2%; flex-wrap:wrap; border:0px solid; width: 100%; position: relative;gap: 2%;">
    <div class="card" style="width: 22%; height:19vh;margin-top:3vh ;  background-color: #f3d5ad; ">
        <div class="card-body"
            style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 5px;">
            <div
                style="display: flex; align-items: center; border-radius: 70px; width:7vh;justify-content: center; height: 7vh; background-color: bisque; color: rgb(228, 148, 42);">
                <i class="fa-solid fa-boxes fa-2x"></i>
            </div>
            <div
                style="display: flex; align-items: center;flex-direction: column;">
                <h1 style="margin-left: 3vh; margin-right: 1vh;">112</h1>
                <div>
                    <h4 class="card-title" style="margin: 0;">Projects</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22%; height:19vh;margin-top:3vh ; background-color: rgba(243, 160, 141, 0.864); ">
        <div class="card-body"
            style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 5px;">
            <div
                style="display: flex; align-items: center; border-radius: 70px; width:7vh;justify-content: center; height: 7vh; background-color: bisque; color: rgb(228, 148, 42);">
                <i class="fa-solid fa-dollar-sign fa-2x"></i>
            </div>
            <div
                style="display: flex; align-items: center;flex-direction: column;">
                <h1 style="margin-left: 3vh; margin-right: 1vh;">44</h1>
                <div>
                    <h4 class="card-title" style="margin: 0;">Clients</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22%; height:19vh;margin-top:3vh;  background-color: #f3d5ad; ">
        <div class="card-body"
            style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 5px;">
            <div
                style="display: flex; align-items: center; border-radius: 70px; width:7vh;justify-content: center; height: 7vh; background-color: bisque; color: rgb(228, 148, 42);">
                <i class="fa-solid fa-diamond fa-2x"></i>
            </div>
            <div
                style="display: flex; align-items: center;flex-direction: column;">
                <h1 style="margin-left: 3vh; margin-right: 1vh;">37</h1>
                <div>
                    <h4 class="card-title" style="margin: 0;">Tasksew</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22%; height:19vh;margin-top:3vh;background-color:  #FFBC58; ">
        <div class="card-body"
            style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 5px;">
            <div
                style="display: flex; align-items: center; border-radius: 70px; width:7vh;justify-content: center; height: 7vh; background-color: bisque; color: rgb(228, 148, 42);">
                <i class="fa-solid fa-user fa-2x"></i>
            </div>
            <div
                style="display: flex; align-items: center;flex-direction: column;">
                <h1 style="margin-left: 3vh; margin-right: 1vh;">218</h1>
                <div>
                    <h4 class="card-title" style="margin: 0;">Employees</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dashboard" >
    <div class="card-containX"
        style="display:flex;  flex-wrap:wrap; border:0px solid; gap: 2%; padding-left: 2%;">
        <div class="card gradient-bg"
            style="width: 22%; height:22vh;margin-top:3vh ; ">
            <h4 class="card-title"
                style="padding-top:5px; padding-left:14px">New Employee</h4>
            <div class="card-body"
                style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 27px; width: 300px;">
                <div
                    style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 40px; width: 150px;">
                    <h1
                        style="margin-right: 25px; padding-bottom: 5px; z-index: 0;">213</h1>
                    <label for="file"
                        style="position: absolute; right:95px; z-index: 0;">5.28%<i
                            class="fa-solid fa-arrow-up"></i></label>
                    <progress id="file" value="35" max="100"
                        style="z-index: 0; width: 80% ;margin-bottom: 5px; ">
                        100% </progress>
                </div>
                <div class="icon-container">
                    <i class="fas fa-users fa-5x blurry-icon"
                        style=" color: rgb(9, 84, 153);"> </i>
                </div>
            </div>
        </div>
        <div class="card gradient-bg2"
            style="width: 22%; height:22vh;margin-top:3vh ; ">
            <h4 class="card-title"
                style="padding-top:5px; padding-left:14px">Projects</h4>
            <div class="card-body"
                style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 27px; width: 300px;">
                <div
                    style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 40px; width: 150px;">
                    <h1
                        style="margin-right: 25px; padding-bottom: 5px; z-index: 0;">125</h1>
                    <label for="file"
                        style="position: absolute; right:95px; z-index: 0;">24.7%<i
                            class="fa-solid fa-arrow-up"></i></label>
                    <progress id="file" value="35" max="100"
                        style="z-index: 0; width: 80% ;"> 100% </progress>
                </div>
                <div class="icon-container">
                    <i class="fas fa-floppy-disk fa-5x blurry-icon"
                        style=" color: rgb(171, 8, 171);"></i>
                </div>
            </div>
        </div>
        <div class="card gradient-bg3"
            style="width: 22%; height:22vh;margin-top:3vh ; ">
            <h4 class="card-title"
                style="padding-top:5px; padding-left:14px">Running tasks</h4>
            <div class="card-body"
                style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 27px; width: 300px;">
                <div
                    style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 40px; width: 150px;">
                    <h1
                        style="margin-right: 25px; padding-bottom: 5px; z-index: 0;">10,225</h1>
                    <label for="file"
                        style="position: absolute; right:95px; z-index: 0;">16%<i
                            class="fa-solid fa-arrow-up"></i></label>
                    <progress id="file" value="35" max="100"
                        style="z-index: 0; width: 80% ;"> 100% </progress>
                </div>
                <div class="icon-container">
                    <i class="fas fa-list-check fa-5x blurry-icon"
                        style=" color: rgb(9, 153, 71);"></i>
                </div>
            </div>
        </div>
        <div class="card gradient-bg4"
            style="width: 22%; height:22vh;margin-top:3vh ; ">
            <h4 class="card-title"
                style="padding-top:5px; padding-left:14px">Earnings</h4>
            <div class="card-body"
                style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 27px; width: 300px;">
                <div
                    style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 40px; width: 150px; ">
                    <h1
                        style="margin-right: 25px; padding-bottom: 5px; z-index: 0;">$2,658</h1>
                    <label for="file"
                        style="position: absolute; right:95px; z-index: 0;">5.07%<i
                            class="fa-solid fa-arrow-up"></i></label>
                    <progress id="file" value="35" max="100"
                        style="z-index: 0; width: 80% ; "> 100% </progress>
                </div>
                <div class="icon-container">
                    <i class="fas fa-money-check-dollar fa-5x blurry-icon"
                        style=" color: rgb(227, 140, 26);"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>