<app-asset-sub-header></app-asset-sub-header>
<div *ngIf="showTabs" class="modal-overlay">
    <div class="modal-dialog" (click)="preventClose($event)">
        <form class="modal-content">
            <div class="main" style="width: 60vh; height: 50vh;">
                <form [formGroup]="departmrntForm">

                    <button mat-icon-button (click)="addDepartment()" class="close-icon">
                        <i class="far fa-times-circle"></i>
                    </button>

                    <h1 class="header"> Asset Details</h1>
                    <div class="row first-index" style="margin-left: -60%;">
                        <div class="col-lg-5 sm-4">
                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Asset Id<span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>

                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Serial Number <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>

                        <!-- <pre></pre> -->

                        <div class="col upload-img" style="margin-left: 90%; margin-top: -40px; height: 5px;  ">
                            <input type="file" (change)="onFileSelected($event)" accept="image/*">
                            <div *ngIf="imageUrl" class="image-container">
                                <img [src]="imageUrl" alt="Uploaded Image">
                            </div>
                        </div>
                    </div>
                    <pre></pre>

                    <div class="row sceond-index" style="margin-left: -60%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1">Brand <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1"> Vendor <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row third-index" style="margin-left: -60%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1"> model <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="form8Example1" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example1"> Category <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>

                    <div class="row fourth-index" style="margin-left: -60%;">
                        <div class="col-lg-5 sm-4">
                            <!-- Country dropdown list -->

                            <mdb-form-control>
                                <select mdbInput id="form8Example4" class="form-control"
                                    aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">Australia Office </option>
                                    <option value="option2">Canadian Development Center</option>
                                    <option value="option3">France Office </option>
                                    <option value="option3">German Office </option>
                                    <option value="option3">India Office </option>
                                    <option value="option3">Jamaica Training Center</option>
                                    <option value="option3">Mexico Office</option>
                                    <option value="option3">Philippine call Center </option>
                                    <option value="option3">Singapore Rwgional HQ</option>
                                    <option value="option3">South Africa Satellite Office</option>
                                    <option value="option3">UK Office</option>
                                    <option value="option3">US Office</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label mdbLabel class="form-label" for="form8Example4">Location<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>

                        </div>
                        <div class="col-lg-5 sm-4">
                            <!-- Email input -->
                            <mdb-form-control>
                                <input mdbInput type="date" id="form8Example2" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example2">Acquired <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row five-index" style="margin-left: -60%;">
                        <div class="col-lg-5 sm-4">
                            <!-- Email input -->
                            <mdb-form-control>
                                <input mdbInput type="date" id="form8Example2" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example2">Warranty Starts <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">
                            <!-- Email input -->
                            <mdb-form-control>
                                <input mdbInput type="date" id="form8Example2" class="form-control" />
                                <label mdbLabel class="form-label" for="form8Example2">Warranty Ends <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row six-index" style="margin-left:-57%;width: 210%;">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="textAreaExample">Description</label>
                        </mdb-form-control>
                    </div>
                </form>
                <pre></pre>
                <div mat-dialog-actions [align]="'end'" class="submit-dialog">

                    <button mdbRipple type="button" class="btn btn-info btn-sm" mat-dialog-close
                        (click)="addDepartment()"><i class="fas fa-save fa-fw me-2"></i>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div style="overflow: scroll; ">
    <div class="card"
        style="border: 1px solid lightgray; margin: 15px 14px;border-radius: 10px; overflow: scroll; height:450px;">
        <table class="table align-middle mb-0 bg-white" style="position: relative;">
            <thead class="bg-light" style="position: sticky; top:0px">
                <tr>
                    <th><i class="fas fa-ellipsis-v"></i></th>
                    <th>Asset Id <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </th>
                    <th>Category</th>
                    <th>Serial Number</th>
                    <th>Models</th>
                    <th>Status</th>
                    <th>Assigned Employee</th>
                    <th>Assigned On</th>
                    <th>Warranty Ends</th>
                </tr>
            </thead>
            <div class="round-button" style="position: fixed; top:100px;right:10px; width:50px">
                <button mat-fab extended (click)="toggleTabs()" matTooltip="Add Assets"
                    aria-label="Button that displays a tooltip in various positions" color="warn">
                    <i class="fas fa-plus fa-2x" style="color: rgba(10, 253, 253, 0.773);"></i></button>
            </div>

            <tbody>
                <tr *ngFor="let m of AttendanceEmployee">
                    <td>
                        <div>
                            <input mdbCheckbox class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                aria-label="..." />
                        </div>
                    </td>
                    <td>{{ m.id }}</td>
                    <td>{{ m.category }}</td>
                    <td (click)="toggleEdit()"> {{ m.serial_no }}</td>
                    <td> {{ m.models }}</td>
                    <td>{{ m.status }}</td>
                    <td>{{ m.assigned_employee }}</td>
                    <td>{{ m.assign_on }}</td>
                    <td>{{ m.warranty_ends }}</td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- ///////Table Data///////// -->


<div *ngIf="showData" class="modal-overlays">
    <div class="modal-dialog-1" (click)="preventCloses($event)">
        <form class="modal-content-1">
            <div class="main2" style="width: 100vh; height: 30vh;">
                <form [formGroup]="assetsdetails">

                    <button mat-icon-button (click)="toggleEdit()" style="margin-left: 1055px;margin-top: -10px;">
                        <i class="far fa-times-circle"></i>
                    </button>

                    <h1 class="header2"> Asset Details</h1>
                    <div class="row first-index2" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">
                            <mdb-form-control>
                                <input mdbInput type="text" id="assetsid" class="form-control" />
                                <label mdbLabel class="form-label" for="assetsid">Asset Id<span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>

                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="serialnumber" class="form-control" />
                                <label mdbLabel class="form-label" for="serialnumber">Serial Number <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row sceond-index" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="brand" class="form-control" />
                                <label mdbLabel class="form-label" for="brand">Brand <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="vendor" class="form-control" />
                                <label mdbLabel class="form-label" for="vendor"> Vendor <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row third-index" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="model" class="form-control" />
                                <label mdbLabel class="form-label" for="model"> model <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="text" id="category" class="form-control" />
                                <label mdbLabel class="form-label" for="category"> Category <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row third-indexs" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <select mdbInput id="status" class="form-control" aria-labelledby="dropdownMenuLink"
                                    (change)="onOptionSelected($event)">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option2">Decommission</option>
                                    <option value="option1">Assign</option>
                                    <option value="option3"></option>
                                </select>
                                <label mdbLabel class="form-label" for="status">Status<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row fourth-index" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">


                            <mdb-form-control>
                                <select mdbInput id="location" class="form-control" aria-labelledby="dropdownMenuLink">
                                    <option value="" disabled selected hidden></option>
                                    <option value="option1">Australia Office </option>
                                    <option value="option2">Canadian Development Center</option>
                                    <option value="option3">France Office </option>
                                    <option value="option3">German Office </option>
                                    <option value="option3">India Office </option>
                                    <option value="option3">Jamaica Training Center</option>
                                    <option value="option3">Mexico Office</option>
                                    <option value="option3">Philippine call Center </option>
                                    <option value="option3">Singapore Rwgional HQ</option>
                                    <option value="option3">South Africa Satellite Office</option>
                                    <option value="option3">UK Office</option>
                                    <option value="option3">US Office</option>
                                </select>
                                <label mdbLabel class="form-label" for="location">Location<span
                                        class="text-danger">*</span></label>
                                <i class="fas fa-caret-down"
                                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </mdb-form-control>

                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="date" id="acquire" class="form-control" />
                                <label mdbLabel class="form-label" for="acquire">Acquired <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row five-index" style="margin-left: 5%;">
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="date" id="warranty" class="form-control" />
                                <label mdbLabel class="form-label" for="warranty">Warranty Starts <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                        <div class="col-lg-5 sm-4">

                            <mdb-form-control>
                                <input mdbInput type="date" id="warrantyend" class="form-control" />
                                <label mdbLabel class="form-label" for="warrantyend">Warranty Ends <span
                                        class="text-danger">*</span></label>
                            </mdb-form-control>
                        </div>
                    </div>
                    <pre></pre>
                    <div class="row six-index" style="margin-left:6%;width: 130%;">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="description" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="description">Description</label>
                        </mdb-form-control>
                    </div>

                    <div class="image">
                        <a mdbRipple href="#!">
                            <img style="background-size: cover; background-attachment: fixed; height: 200px;"
                                alt="example" class="img-fluid rounded"
                                src="../../../assets/img/Laptop.jpg" />
                        </a>
                    </div>
                </form>
                <pre></pre>
                <div mat-dialog-actions [align]="'end'" class="save-button">

                    <button mdbRipple type="button" class="btn btn-info btn-sm" mat-dialog-close
                        (click)="addDepartments()"><i class="fas fa-save fa-fw me-2"></i>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- //////Assign Asset*////// -->

<div *ngIf=" showPopup" class="modal-overlay">
    <div class="modal-dialogs " (click)="preventClose($event)">
        <form class="modal-contents">
            <form [formGroup]="assignasset" class="popupmenu">

                <button mat-icon-button (click)="confirmassign()" style=" margin-left: 95%;margin-top: -10px;">
                    <i class="far fa-times-circle"></i>
                </button>

                <h1 class="header3">Assign Asset</h1>
                <pre></pre>
                <div class="row" style="margin-left: 10%;">
                    <div class="col-lg-5 sm-4">
                        <mdb-form-control>
                            <select mdbInput id="form8Example4" class="form-control" aria-labelledby="dropdownMenuLink">
                                <option value="" disabled selected hidden></option>
                                <option value="option2">Satyam</option>
                                <option value="option1">Vickey</option>
                                <option value="option3">Vaibhav</option>
                                <option value="option3">Ganesh</option>
                                <option value="option3">Saubhagya</option>
                            </select>
                            <label mdbLabel class="form-label" for="form8Example4">Employee<span
                                    class="text-danger">*</span></label>
                            <i class="fas fa-caret-down"
                                style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                        </mdb-form-control>
                    </div>
                    <div class="col-lg-5 sm-4">
                        <!-- Email input -->
                        <mdb-form-control>
                            <input mdbInput type="date" id="form8Example2" class="form-control" />
                            <label mdbLabel class="form-label" for="form8Example2">From<span
                                    class="text-danger">*</span></label>
                        </mdb-form-control>
                    </div>
                </div>
            </form>
            <pre></pre>

            <div mat-dialog-actions [align]="'end'" class="save-button1">
                <button mdbRipple type="button" class="btn btn-info btn-sm" mat-dialog-close
                    (click)="confirmassign()"><i class="fas fa-save fa-fw me-2"></i>CONFIRM</button>
            </div>
        </form>
    </div>
</div>