<div>
    <div>
        <div class="card tab-box">
            <div class="row user-tabs">
                <div class="">
                    <nav style="display: flex; flex-wrap: nowrap; padding-top :2px;">
                        <ul class="nav" style="display: flex; flex-wrap: nowrap; padding: 5px;">
                            <li class="tab">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="/main/dashboard">
                                    <i class="fas fa-house fa-fw me-2"></i>
                                </a>
                            </li>
                            <li class="tab">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="/">
                                    <i class="fas fa-arrow-left fa-fw me-2"></i>
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../office"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Office
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../department"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Department
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../designation"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Designation
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../eduction"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Education
                                </a>
                            </li>
                           
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../jobTitle"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Job Title
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../role" routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Role
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../country"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Country
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../state"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>State
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../bank"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Bank
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../WorkType"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Work Type
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <div mdbDropdown class="dropdown dropx">
                                    <a role="button" id="dropdownMenuLink" mdbDropdownToggle
                                        style="width:fit-content; height: 40px; color: black; border-radius: 0px; padding:10px"
                                        mdbTooltip="More">
                                        <i class="fas fa-ellipsis-v fa-1.8x  ico"
                                            style="margin-bottom: 0px; margin-left:0px;margin-right:0px" id="icox"></i>
                                    </a>
                                    <ul mdbDropdownMenu class="dropdown-menu">
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li><a class="dropdown-item" routerLink="../addfamily"><i
                                                    class="fas fa-user-group "></i> Family</a></li>
                                        <li><a class="dropdown-item" routerLink="../emptype"><i
                                                    class="fas fa-medal "></i> Emp Type</a></li>
                                        <li><a class="dropdown-item" routerLink="../Workshift"><i
                                                        class="fas fa-medal "></i> Work shift</a></li>
                                         <li><a class="dropdown-item" routerLink="../client"><i
                                                 class="fa-solid fa-building-columns"></i> Client</a></li>
                                                     
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>