<div class="full-container">
  <div class="logo-container">
    <img src="../../../assets/img/logo_small.png" alt="" class="logo-img" *ngIf="!isSidebarActive">
    <img src="../../../assets/img/logo_big.png" alt="" class="logo-img-active" *ngIf="isSidebarActive">
  </div>
  <div class="profile-container">
    <div [ngClass]="{'profile-image': true, 'profile-image-active': isSidebarActive}">
      <img src="../../../assets/img/user-img.jpg" class="profile-photo">
    </div>
    <div class="profile-text" *ngIf="isSidebarActive">
      <span class="profile-text-bold">John Doe</span><br>
      <span>CHRO</span>
    </div>
  </div>
  <!-- Searchbar Section -->
  <div class="search-container" *ngIf="isSidebarActive">
    <input type="text" class="search" placeholder="Search">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <button class="toggle-btn"
    [ngClass]="{'rotate-btn' : (isSidebarActive && isLayoutLtr), 'rotate-btn-rtl' : (isSidebarActive && !isLayoutLtr), 'toggle-btn' : true, 'toggle-btn-rtl': !isLayoutLtr}"
    (click)="sendDataToParent()">
    >
  </button>

  <div class="inactive-icon-container" *ngIf="!isSidebarActive">

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/home-icon.png" alt=""> -->
        <i class="fa-regular fa-circle-user fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/admin-icon.png" alt=""> -->
        <i class=" fa-regular fa-user fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/products-icon.png" alt=""> -->
        <i class="fa-solid fa-screwdriver-wrench fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/orders-icon.png" alt=""> -->
        <i class="fa-solid fa-fingerprint fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/sales-icon.png" alt=""> -->
        <i class="fa-solid fa-person-through-window fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>

    <div class="sidebar-icon-div" (click)="inactiveSidebarClick()" *ngIf="!isSidebarActive">
      <button>
        <!-- <img class="sidebar-icon" src="../../../assets/img/coupons-icon.png" alt=""> -->
        <i class="fa-solid fa-boxes-stacked fa-xl" style="color: var(--link-icon-color);"></i>
      </button>
    </div>
  </div>

  <div class="active-links-container" *ngIf="isSidebarActive">
    <a routerLink="dashboard" routerLinkActive="active"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <i class="fa-regular fa-circle-user fa-xl" style="color: var(--link-icon-color);"></i>
      <!-- <i class="fa-solid fa-house fa-xl" style="color: var(--link-icon-color);"></i> -->
      <span>Dashboard</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="employee/Empdashboard" routerLinkActive="active"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <!-- <img class="sidebar-icon" src="../../../assets/img/admin-icon.png" alt=""> -->
      <i class=" fa-regular fa-user fa-xl" style="color: var(--link-icon-color);"></i>
      <span>Employee</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="master/MasterHeader" routerLinkActive="active"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <!-- <img class="sidebar-icon" src="../../../assets/img/products-icon.png" alt=""> -->
      <i class="fa-solid fa-screwdriver-wrench fa-xl" style="color: var(--link-icon-color);"></i>
      <span>Master</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="attendence/atteHeader" routerLinkActive="active"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <!-- <img class="sidebar-icon" src="../../../assets/img/orders-icon.png" alt=""> -->
      <i class="fa-solid fa-fingerprint fa-xl" style="color: var(--link-icon-color);"></i>
      <span>Attendance</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="leave/leaveHeader" routerLinkActive="active"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <!-- <img class="sidebar-icon" src="../../../assets/img/sales-icon.png" alt=""> -->
      <i class="fa-solid fa-person-through-window fa-xl" style="color: var(--link-icon-color);"></i>
      <span>Leave</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="asset/assetheader"
      [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
      (click)="activeSidebarClick()">
      <!-- <img class="sidebar-icon" src="../../../assets/img/coupons-icon.png" alt=""> -->
      <i class="fa-solid fa-boxes-stacked fa-xl" style="color: var(--link-icon-color);"></i>
      <span>Assets</span>
    </a>
    <div class="divider">&nbsp;</div>
    <a routerLink="layout/layout"
    [ngClass]="{'active-links-container-links':true, 'active-links-container-links-rtl':!isLayoutLtr}"
    (click)="activeSidebarClick()">
    <!-- <img class="sidebar-icon" src="../../../assets/img/coupons-icon.png" alt=""> -->
    <i class="fa-solid fa-boxes-stacked fa-xl" style="color: var(--link-icon-color);"></i>
    <span>Layout</span>
  </a>
  </div>
</div>