<div>
    <div>
        <div class="card tab-box">
            <div class="row user-tabs">
                <div class="">
                    <nav style="display: flex; flex-wrap: nowrap; padding-top :2px;">
                        <ul class="nav" style="display: flex; flex-wrap: nowrap; padding: 5px;">
                            <li class="tab">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="/main/dashboard">
                                    <i class="fas fa-house fa-fw me-2"></i>
                                </a>
                            </li>
                            <li class="tab">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="/">
                                    <i class="fas fa-arrow-left fa-fw me-2"></i>
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../apply"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Apply
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../leave"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Leave
                                </a>
                            </li>
                            <li class="tab nav-item">
                                <a data-bs-toggle="tab" class="nav-link" routerLink="../leaveusage"
                                    routerLinkActive="active">
                                    <i class="fas fa-user fa-fw me-2"></i>Leave Usage
                                </a>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>