<app-employee-sub-header></app-employee-sub-header>
<div class="main">
  <mdb-tabs class="d-none d-md-block">

    <mdb-tab>
      <ng-template mdbTabTitle><span><i class="fas fa-user-plus fa-fw me-2"></i>Bank Account Detail</span></ng-template>

      <div class="tab1">
        <form [formGroup]="validationForm" (ngSubmit)="onSubmit(validationForm)">

          <fieldset class="border p-2">
            <legend class="float-none w-auto">Bank Account Detail</legend>
            <div class="row">
              <div class="col-sm-3 mb-4">
                
                <mdb-form-control class="tex-tbox">
                  <select mdbInput id="form8Example6" mdbValidate [required]="true" formControlName="BankName"
                    class="form-control" aria-labelledby="dropdownMenuLink" [(ngModel)]="bankAccountId"
                    name="bankAccountId" (change)="handleBankInput($event)">
                    <option [value]="" disabled selected hidden></option>
                    <option *ngFor="let department of empbankList; let i = index" value="{{department.bankAccountId}}">
                      {{department.bankName}}</option>
                  </select>
                  <label mdbLabel class="form-label" for="form8Example6">Select Bank Name &nbsp;<span
                      class="text-danger">*</span></label>
                  <i class="fas fa-caret-down"
                    style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                  <mdb-error *ngIf="BankName?.invalid && (BankName?.dirty || BankName?.touched)"></mdb-error>
                  <mdb-success *ngIf="BankName?.valid && (BankName?.dirty || BankName?.touched)">
                  </mdb-success>
                </mdb-form-control>
              </div>
              <div class="col-sm-3 mb-4">
                <!-- Email input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example2" class="form-control"
                    formControlName="AccountNo" />
                  <label mdbLabel class="form-label" for="form8Example2">Bank Account Number <span
                      class="text-danger">*</span></label>
                  <mdb-error *ngIf="
                  AccountNo?.invalid && (AccountNo?.dirty || AccountNo?.touched)
                  "></mdb-error>
                  <mdb-success *ngIf="
                AccountNo?.valid && (AccountNo?.dirty || AccountNo?.touched)
                  "></mdb-success>
                </mdb-form-control>
              </div>
              <div class="col-sm-3 mb-4">
                <!-- Email input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example2" class="form-control"
                    formControlName="AccountHolderName" />
                  <label mdbLabel class="form-label" for="form8Example2">Account Holder Name <span
                      class="text-danger">*</span></label>
                  <mdb-error *ngIf="
                    AccountHolderName?.invalid && (AccountHolderName?.dirty || AccountHolderName?.touched)
                    "></mdb-error>
                  <mdb-success *ngIf="
                  AccountHolderName?.valid && (AccountHolderName?.dirty || AccountHolderName?.touched)
                    "></mdb-success>
                </mdb-form-control>
              </div>
              <div class="col-sm-3 mb-4">
                <!-- Email input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example2" class="form-control"
                    formControlName="BranchName" />
                  <label mdbLabel class="form-label" for="form8Example2">Branch Name <span
                      class="text-danger">*</span></label>
                </mdb-form-control>
                <mdb-error *ngIf="
                  BranchName?.invalid && (BranchName?.dirty || BranchName?.touched)
                  "></mdb-error>
                <mdb-success *ngIf="
                BranchName?.valid && (BranchName?.dirty || BranchName?.touched)
                  "></mdb-success>
              </div>
            </div>

            <!-- <hr /> -->

            <div class="row">
              <div class="col-sm-3 mb-4">
                <!-- Name input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example3" class="form-control"
                    formControlName="BankLocation" />
                  <label mdbLabel class="form-label" for="form8Example3">Bank Location <span
                      class="text-danger">*</span></label>
                </mdb-form-control>
                <mdb-error *ngIf="
                BankLocation?.invalid && (BankLocation?.dirty || BankLocation?.touched)
                "></mdb-error>
                <mdb-success *ngIf="
              BankLocation?.valid && (BankLocation?.dirty || BankLocation?.touched)
                "></mdb-success>
              </div>
              <div class="col-sm-3 mb-4">
                <!-- Name input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example4" class="form-control"
                    formControlName="IfscCode" />
                  <label mdbLabel class="form-label" for="form8Example4">IFSC Code <span
                      class="text-danger">*</span></label>
                </mdb-form-control>
                <mdb-error *ngIf="
                IfscCode?.invalid && (IfscCode?.dirty || IfscCode?.touched)
                "></mdb-error>
                <mdb-success *ngIf="
              IfscCode?.valid && (IfscCode?.dirty || IfscCode?.touched)
                "></mdb-success>
              </div>
              <div class="col-sm-3 mb-4">
                <!-- Name input -->
                <mdb-form-control>
                  <input mdbValidate mdbInput type="text" id="form8Example4" class="form-control"
                    formControlName="Attachment" />
                  <label mdbLabel class="form-label" for="form8Example4">Attachment <span
                      class="text-danger">*</span></label>
                </mdb-form-control>
                <mdb-error *ngIf="
                Attachment?.invalid && (Attachment?.dirty || Attachment?.touched)
                "></mdb-error>
                <mdb-success *ngIf="
              Attachment?.valid && (Attachment?.dirty || Attachment?.touched)
                "></mdb-success>
              </div>

            </div>
            <div class="button col-sm-4">
              <a routerLink="../employement" mdbRipple class="btnClass btnClass-secondary"><i
                  class="fa-solid fa-backward"></i> &nbsp; Back</a>
              <button mdbRipple type="submit" class="btnClass btnClass-primary"><i
                  class="fas fa-save fa-fw me-2"></i>Save</button>
              <a routerLink="../address" mdbRipple type="button" class="btnClass btnClass-secondary"> Next
                &nbsp; <i class="fa-solid fa-forward"></i></a>
            </div>

          </fieldset>
        </form>
      </div>

    </mdb-tab>

    <mdb-tab>
      <ng-template mdbTabTitle><span><i class="fas fa-receipt fa-fw me-2"></i>Bank Account List</span></ng-template>

      <div class="tab2">
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Status</th>
              <th>Position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                    class="rounded-circle" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">John Doe</p>
                    <p class="text-muted mb-0">john.doegmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Software engineer</p>
                <p class="text-muted mb-0">IT department</p>
              </td>
              <td>
                <span class="badge badge-success rounded-pill d-inline">Active</span>
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                    style="width: 45px; height: 45px" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Alex Ray</p>
                    <p class="text-muted mb-0">alex.raygmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Consultant</p>
                <p class="text-muted mb-0">Finance</p>
              </td>
              <td>
                <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
              </td>
              <td>Junior</td>
              <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                    style="width: 45px; height: 45px" />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Kate Hunington</p>
                    <p class="text-muted mb-0">kate.huningtongmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Designer</p>
                <p class="text-muted mb-0">UI/UX</p>
              </td>
              <td>
                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </mdb-tab>
  </mdb-tabs>
</div>