 
    <div>
        <div>
            <div class="card tab-box">
                <div class="row user-tabs">
                    <div class="">
                        <nav style="display: flex; flex-wrap: nowrap; padding-top :2px;">
                            <ul class="nav" style="display: flex; flex-wrap: nowrap; padding: 5px;">
                                <li class="tab">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="/main/dashboard">
                                        <i class="fas fa-house fa-fw me-2"></i>
                                    </a>
                                </li>
                                <li class="tab">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="/">
                                        <i class="fas fa-arrow-left fa-fw me-2"></i>
                                    </a>
                                </li>
                                <li class="tab nav-item">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="../alist">
                                        <i class="fas fa-user fa-fw me-2"></i>Attendance List
                                    </a>
                                </li>
                                <li class="tab nav-item">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="../empatt">
                                        <i class="fas fa-user fa-fw me-2"></i>Employee Attendance
                                    </a>
                                </li>
                                <li class="tab nav-item">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="../apprej">
                                        <i class="fas fa-user fa-fw me-2"></i>Approve Reject
                                    </a>
                                </li>
                                <li class="tab nav-item">
                                    <a data-bs-toggle="tab" class="nav-link" routerLink="../attendancepunch">
                                        <i class="fas fa-user fa-fw me-2"></i>Attendaance Punch
                                    </a>
                                </li>
                                <!-- <li class="tab nav-item">
                                    <div mdbDropdown class="dropdown dropx">
                                        <a role="button" id="dropdownMenuLink" mdbDropdownToggle
                                            style="width:fit-content; height: 40px; color: black; border-radius: 0px; padding:10px"
                                            mdbTooltip="More">
                                            <i class="fas fa-ellipsis-v fa-1.8x  ico"
                                                style="margin-bottom: 0px; margin-left:0px;margin-right:0px" id="icox"></i>
                                        </a> 
                                    </div>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>