<!-- <div>
    <button mat-fab extended class="share-button" (click)="toggleShare()" matTooltip="My Shortcut"
        aria-label="Button that displays a tooltip in various positions">
        <i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"><i class="fas fa-ellipsis-v"></i></i></button>
</div> -->

<app-master-sub-header></app-master-sub-header>

<div class="scroll-container">
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div   class="myshortcut-overlays">
        <div class="modal-dialogs ">
            <form class="modal-contents">
                <form >

                    <button mat-icon-button style="float: right; margin: 0px;">
                        <i class="fas fa-cog"></i>
                    </button>

                    <h1 mat-dialog-title style="margin-right: 200px;">My Shortcut</h1><br>

                    <div color="warn" class="contact-button">
                        <i class="fas fa-user-alt"></i>
                    <pre></pre>
                    </div>
                    <span>Contact</span>

                    <div class="test-button">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <span class="test-name">Test</span>

                    <div class="orange-button">
                        <i class="fas fa-apple-alt"></i>
                    </div>
                    <span class="orange-name">OrangeBuzz</span>

                    <div class="assign-button">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="assign-name">Assign Leave</span>

                    <div class="leave-list">
                        <i class="fas fa-list-alt"></i>
                    </div>
                    <span class="leave-name">Leave List</span>

                    <div class="leave-calender">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <span class="leave-calender-name">Leave Calender</span>

                    <div class="general-button">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="general-button-name">General Request</span>

                    <div class="hiring-button">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="hiring-name">Hiring Requisit..</span>

                    <div class="timesheet-button">
                        <i class="far fa-clock"></i>
                    </div>
                    <span class="timesheet-name">Timesheets</span>

                    <div class="apply-button">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span>Apply Leave</span>


                    <div class="myleave-button">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="myleave-name">My Leave</span>

                    <div class="submit-request">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <span class="submit-request-name">Submit Request</span>

                    <div class="mytimesheet-button">
                        <i class="far fa-clock"></i>
                    </div>
                    <span>My Timesheet</span>

                </form>
            </form>
        </div>
    </div>
</div>
</div>